<footer class="mt-8 mb-8">
  <div class="container mx-auto">
    <div class="mt-8 flex flex-col-reverse sm:flex-row sm:justify-between items-center">
      <div class="text-center sm:text-left">
        <p class="mt-0 text-sm">{{ .Site.Copyright }} © MK Chong - 2023</p>
        <p class="mt-0 text-xs">
          <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer"> Creative Commons Attribution 4.0 International License </a> 
        </p>
      </div>
      
      <p class="flex items-center mt-0">
        {{ range $_, $key := .Site.Params.Social }}
          <a class="icon ml-1 mr-1" href="{{ $key.url }}" title="{{ $key.name }}">
          {{ if $key.svg }}
            {{ $key.svg | safeHTML }}
          {{ else }}
            {{ index $.Site.Data.svg $key.name | safeHTML }}
          {{ end }}
          </a>
        {{ end }}
      </p>
    </div>
  </div>
</footer>